@mixin flexSort {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin mainWidth {
  width: 60%;

  @media (max-width: 767px) {
    width: 90%;
  }
}

@mixin list {
  width: 60%;
  height: 100%;

  .imgContainer {
    width: 10%;
    height: 100%;
  }

  .title {
    width: 30%;
    height: 100%;
  }

  .artist {
    width: 20%;
    height: 100%;
  }

  .type {
    width: 20%;
    height: 100%;
  }

  .date {
    width: 20%;
    height: 100%;
  }

  @media (max-width: 767px) {
    width: 90%;
  }
}

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}
