@mixin flexSort {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin list {
  height: 100%;

  .imgContainer {
    width: 10%;
    height: 100%;
  }

  .title {
    width: 30%;
    height: 100%;
  }

  .artist {
    width: 20%;
    height: 100%;
  }

  .type {
    width: 20%;
    height: 100%;
  }

  .date {
    width: 20%;
    height: 100%;
  }
}
