@import "../../styles/common.scss";

.sort {
  margin-top: 10px;
  @include mainWidth;

  .img {
    height: 20px;
    object-fit: contain;
    padding: 3px;
    border: 1px solid lightgray;
    cursor: pointer;

    &:hover {
      background-color: gray;
    }

    &:last-child {
      margin-left: 5px;
    }
  }
}
